

html,body{
    /* background-color: #ddd; */
    background-image: url("pic4.jpeg");
   
    /*background-color: rgb(190, 175, 197);*/
    margin:0px;
    
    /*background-color: #cccccc;
    background-image: radial-gradient(  #A1EAB4, #476AE7);
   */
 
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  .navbar a.active {
    background-color: rgb(152, 72, 155);
    color: white;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px; 
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(182, 127, 187);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(38, 4, 73, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    /* background-color: rgb(187, 181, 184); */
    background-color: #ddd;

  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .heading{
    
      /*height: 100%;*/
      background-color:white;
       
      /* background-color: #ddd; */
      /*padding:200px;*/
      margin-top: 250px;
      margin-left: 50px;
      margin-right: 50px;
      font-size:100px;
      color: #80d4ff;
      
      border: 5px dashed white;
      border-radius: 30px;
      
      text-align: center;
  }

.image {
    margin-top: 250px;
    margin-left: 480px;
}